@page
@model PRN222.MilkTeaShop.Manager.Pages.Products.IndexModel
@{
	Layout = "~/Pages/Shared/_ManagerLayout.cshtml";
	ViewData["HeaderTitle"] = "Dashboard";
}
<h1>Product</h1>
<p>Đây là nội dung trang...</p>